* {
  box-sizing: border-box;
}

.homePageHeader {
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 4px 50px 10px #00000040;
  background: #044ea4;
  padding: 27px 66px 34px 59px;
  width: 1440px;
  height: 140px;

  .groupJaspaLogo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .jaspaLogoWithourBack {
      width: 172px;
      height: 62px;
    }

    .bankSmartLiveFree {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px 0px 0px;
      width: 162px;
      height: 13px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-style: italic;
    }
  }

  .rectangle2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 108px;
    border-radius: 6px;
    background: #87b6ed;
    padding: 11px 17px 11px 18px;

    .personal {
      width: 92px;
      height: 24px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      line-height: 60px;
      letter-spacing: 0;
      white-space: nowrap;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .rectangle3 {
    display: flex;
    align-items: center;
    margin-top: 19px;
    margin-left: 42px;
    border-radius: 5px;
    background: #87b6ed;
    padding: 10px 12px 11px 15px;

    .business {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 24px;
      line-height: 60px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .aboutUs {
    margin: 13px 0px 0px 104px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .productsServices {
    margin: 13px 0px 0px 28px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-decoration: underline;
  }

  .resources {
    margin: 13px 0px 0px 28px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .contactUs {
    margin: 13px 0px 0px 41px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}
