* {
  box-sizing: border-box;
}

.jaspaPlayStoreQrWhit {
  border: 2px solid #044ea4;
  border-radius: 8px;
  width: 191px;
  height: 191px;
  background-image: url(../image/mlk0cbqj-4yd92rk.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
