* {
  box-sizing: border-box;
}

.group480 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 639px;

  .group73 {
    position: relative;
    opacity: 0.25;
    width: 1440px;
    height: 320px;

    .rectangleDotsGradien {
      position: absolute;
      top: 0;
      left: 0;
      width: 726px;
      height: 320px;
    }

    .rectangleDotsGradien2 {
      position: absolute;
      top: 0;
      right: 0;
      width: 726px;
      height: 320px;
      rotate: -180deg;
    }
  }

  .group74 {
    position: relative;
    opacity: 0.25;
    width: 1440px;
    height: 319px;
    rotate: -180deg;

    .rectangleDotsGradien3 {
      position: absolute;
      top: 0;
      left: 357px;
      width: 726px;
      height: 319px;
    }

    .rectangleDotsGradien4 {
      position: absolute;
      top: 0;
      right: 714px;
      width: 726px;
      height: 319px;
      rotate: 180deg;
    }
  }
}
