* {
  box-sizing: border-box;
}

.property1Default {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1161px;
  height: 1379px;

  .keyboardArrowDown {
    position: absolute;
    top: 88px;
    left: 1001px;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    overflow: hidden;
  }

  .getAnswersToSomeComm {
    margin: 15px 0px 0px;
    width: 821px;
    line-height: 25px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .group288 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    width: 165px;
    min-width: 165px;
    height: 209px;

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .iPhone13141A2 {
        width: 45px;
        height: 97px;
      }

      .iPhone1314212 {
        margin-top: 15px;
        width: 45px;
        height: 97px;
      }
    }
  }

  .frame233 {
    position: relative;
    width: 1161px;
    height: 247px;

    .rectangle139 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      background: #044ea4;
      padding: 19px 45px 19px 60px;
      width: 1161px;
      height: 247px;

      .group289 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .howToOpenAnAccountOn {
          line-height: 45px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 45px;
          font-weight: 600;
        }
      }
    }
  }

  .frame234 {
    position: relative;
    margin-top: 36px;
    width: 1161px;
    height: 247px;

    .rectangle140 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      background: #044ea4;
      padding: 19px 45px 19px 60px;
      width: 1161px;
      height: 247px;

      .group291 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .howToUseMultiLayered {
          width: 722px;
          line-height: 45px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 45px;
          font-weight: 600;
        }
      }
    }
  }
}
