* {
  box-sizing: border-box;
}

.theseTermsConditions5 {
  width: 1196px;
  height: 3290px;
  line-height: 35px;
  letter-spacing: 0;
  color: #000000;
  font-size: 0;

  .theseTermsConditions {
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .theseTermsConditions2 {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 600;
  }

  .theseTermsConditions3 {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
  }

  .theseTermsConditions4 {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
}
