* {
  box-sizing: border-box;
}

.group430 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1196px;
  height: 3412px;

  .termsConditionsLastU3 {
    width: 505px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000000;
    font-size: 0;

    .termsConditionsLastU {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 700;
    }

    .termsConditionsLastU2 {
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-style: italic;
    }
  }

  .theseTermsConditions5 {
    margin: 45px 0px 0px;
    width: 1196px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000000;
    font-size: 0;

    .theseTermsConditions {
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
    }

    .theseTermsConditions2 {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 33px;
      font-weight: 600;
    }

    .theseTermsConditions3 {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 600;
    }

    .theseTermsConditions4 {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
    }
  }
}
