* {
  box-sizing: border-box;
}

.corporateSocialRespo {
  width: 740px;
  height: 140px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
}
