* {
  box-sizing: border-box;
}

.whoWeAre {
  width: 168px;
  height: 180px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
  text-shadow: 0px 4px 60px #00000040;
}
