* {
  box-sizing: border-box;
}

.ourBankingServices {
  width: 193px;
  height: 135px;
  text-align: center;
  line-height: 45px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 600;
}
