* {
  box-sizing: border-box;
}

.group453 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1748px;
  height: 2649px;

  .rectangle40 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-right: 308px;
    background: #044ea4;
    padding: 73px 120px 77px;

    .rectangle14 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-right: 263px;
      margin-left: 263px;
      border-radius: 15px;
      background: #df2202;
      padding: 49px 84px 48px;

      .meetTheTeam {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 507px;
        height: 30px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 65px;
        font-weight: 600;
      }
    }

    .component2 {
      display: inline-flex;
      position: relative;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      column-gap: 40px;
      margin-top: 44px;
      overflow: hidden;

      .rectangle852 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        width: 260px;
        height: 97px;
      }

      .chidinmaIfenatuora {
        margin: 30px 0px 0px;
        width: 211px;
        text-align: center;
        line-height: 40px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
      }

      .paulAdeoye {
        margin: 30px 0px 0px;
        width: 154px;
        text-align: center;
        line-height: 40px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
      }

      .enoVwaire {
        margin: 30px 0px 0px;
        width: 139px;
        text-align: center;
        line-height: 40px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
      }

      .innocentIhedoro {
        margin: 30px 0px 0px;
        width: 178px;
        text-align: center;
        line-height: 40px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
      }

      .mrInnocentIhedioha1 {
        border-radius: 15px;
        width: 360px;
        height: 399px;
      }

      .frame225 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        width: 1200px;

        .group207 {
          display: flex;
          flex-direction: column;
          align-items: center;

          .rectangle83 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 29px 50px 0px;
            border-radius: 8px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #87b6ed;
            padding: 22px 53px;

            .chairman {
              line-height: 30px;
              letter-spacing: 0;
              color: #012e6d;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
              font-weight: 500;
            }
          }
        }

        .group208 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 30px;

          .rectangle84 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 29px 50px 0px;
            border-radius: 8px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #87b6ed;
            padding: 19px 52px 18px 53px;

            .managingDirector {
              width: 155px;
              text-align: center;
              line-height: 30px;
              letter-spacing: 0;
              color: #012e6d;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
              font-weight: 500;
            }
          }
        }

        .group209 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 30px;

          .rectangle85 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 29px 50px 0px;
            border-radius: 8px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #87b6ed;
            padding: 19px 46px 18px;

            .operationsManager {
              width: 168px;
              text-align: center;
              line-height: 30px;
              letter-spacing: 0;
              color: #012e6d;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
              font-weight: 500;
            }
          }
        }

        .group210 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 30px;

          .rectangle86 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 29px 50px 0px;
            border-radius: 8px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #87b6ed;
            padding: 19px 54px 18px 55px;

            .customerServicesMana {
              width: 151px;
              text-align: center;
              line-height: 30px;
              letter-spacing: 0;
              color: #012e6d;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
              font-weight: 500;
            }
          }
        }
      }

      .group214 {
        display: flex;
        position: absolute;
        top: 0;
        left: 2730px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        width: 360px;
        height: 665px;

        .autoWrapper {
          position: relative;
          margin-top: 29px;
          width: 260px;
          height: 127px;

          .rectangle862 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 8px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #87b6ed;
            width: 260px;
            height: 127px;
          }

          .customerServicesMana2 {
            position: absolute;
            top: 19px;
            left: 55px;
            width: 151px;
            height: 90px;
            text-align: center;
            line-height: 30px;
            letter-spacing: 0;
            color: #012e6d;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 500;
          }
        }
      }

      .group213 {
        display: flex;
        position: absolute;
        top: 0;
        left: 2340px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        z-index: 1;
        width: 360px;
        height: 635px;

        .autoWrapper2 {
          position: relative;
          margin-top: 29px;
          width: 260px;
          height: 97px;

          .operationsManager2 {
            position: absolute;
            top: 19px;
            left: 46px;
            width: 168px;
            height: 60px;
            text-align: center;
            line-height: 30px;
            letter-spacing: 0;
            color: #012e6d;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 500;
          }
        }
      }

      .group212 {
        display: flex;
        position: absolute;
        top: 0;
        left: 1950px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        z-index: 2;
        width: 360px;
        height: 635px;

        .autoWrapper3 {
          position: relative;
          margin-top: 29px;
          width: 260px;
          height: 97px;

          .managingDirector2 {
            position: absolute;
            top: 19px;
            left: 53px;
            width: 155px;
            height: 60px;
            text-align: center;
            line-height: 30px;
            letter-spacing: 0;
            color: #012e6d;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 500;
          }
        }
      }

      .group211 {
        display: flex;
        position: absolute;
        top: 0;
        left: 1560px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        z-index: 3;
        width: 360px;
        height: 612px;

        .autoWrapper4 {
          position: relative;
          margin-top: 29px;
          width: 260px;
          height: 74px;

          .rectangle832 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 8px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #87b6ed;
            width: 260px;
            height: 74px;
          }

          .chairman2 {
            position: absolute;
            top: 22px;
            left: 53px;
            width: 154px;
            height: 30px;
            line-height: 30px;
            letter-spacing: 0;
            color: #012e6d;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .legalCompliance {
    margin: 90px 0px 0px 355px;
    line-height: 75px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .jaspaOperatesWithStr {
    margin: 45px 0px 0px 122px;
    width: 1196px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .rectangle19 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 45px 903px 0px 595px;
    border-radius: 10px;
    background: #df2202;
    padding: 22px 54px 21px 55px;

    .learnMore {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 141px;
      height: 27px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }
  }

  .footer {
    position: relative;
    margin-top: 90px;
    width: 1748px;
    height: 1143px;

    .rectangle7 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: #044ea4;
      padding: 120px 100px 51px;
      width: 1440px;
      height: 1143px;

      .guides {
        margin: 18px 0px 0px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .personalAccount {
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .autoWrapper5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding-right: 323px;
        padding-left: 0;

        .aboutUs {
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .productsServices {
          margin: 0px 0px 0px 55px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .resources {
          margin: 0px 0px 0px 35px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .contactUs {
          margin: 0px 0px 0px 51px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }
      }

      .autoWrapper9 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 56px;
        padding-right: 261px;
        padding-left: 0;

        .visionMission {
          width: 102px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }

        .autoWrapper6 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 92px;

          .businessAccount {
            margin: 18px 0px 0px 1px;
            line-height: 25px;
            letter-spacing: 0;
            color: #f5f5f5;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: 500;
          }
        }

        .autoWrapper7 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 118px;
        }

        .autoWrapper8 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 124px;
        }
      }

      .autoWrapper12 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 572px;
        padding-left: 0;

        .autoWrapper10 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
        }

        .autoWrapper11 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 18px;
          margin-left: 121px;
        }

        .loanCalculator {
          margin: 18px 0px 0px 192px;
          width: 133px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .autoWrapper13 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 649px;
        padding-left: 0;

        .uSsdBanking {
          margin: 18px 0px 0px 126px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }

        .blog {
          margin: 0px 0px 0px 166px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .mobileApp {
        margin: 18px 0px 0px 194px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .xeroIntegrationAccou {
        margin: 18px 0px 0px 194px;
        width: 281px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .connectWithUs {
        margin: 62px 0px 0px 835px;
        line-height: 20px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .autoWrapper14 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 3px;
        padding-left: 0;

        .getItOnDownloadOnThe {
          width: 500px;
          height: 70px;
          background-image: url(../image/mlijs4mz-hqyq3ls.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          filter: drop-shadow(0px 4px 20px #0000004d);
        }

        .group452 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 22px;
          width: 426px;
          min-width: 426px;
          height: 48px;

          .rectangle35 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px;

            .whatsappLogoWhiteWit {
              width: 30px;
              height: 30px;
            }
          }

          .rectangle33 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px 17px;

            .facebookLogoWhiteWit {
              width: 14px;
              height: 30px;
            }
          }

          .rectangle32 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 11px 9px 10px;

            .xLogoWhiteWithoutBac {
              width: 30px;
              height: 27px;
            }
          }

          .rectangle352 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px 11px;

            .tikTokLogoWhiteWitho {
              width: 26px;
              height: 30px;
            }
          }

          .rectangle34 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 14px 9px 13px;

            .youTubeLogoWhiteWith {
              width: 30px;
              height: 21px;
            }
          }
        }
      }

      .line2 {
        margin-top: 58px;
        border-radius: 50%;
        background: #df2202;
        width: 1240px;
        height: 3px;
      }

      .autoWrapper15 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 38px;
        padding-right: 40px;
        padding-left: 40px;

        .copyright2025JaspaMf {
          display: flex;
          align-items: center;
          width: 501px;
          height: 26px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .privacyPolicy {
          margin: 0px 0px 0px 335px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .cookiePolicy {
          margin: 0px 0px 0px 52px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .jaspaLogoWhiteWithou {
      position: absolute;
      bottom: 483px;
      left: 871px;
      opacity: 0.3;
      width: 852px;
      height: 307px;
      rotate: -26deg;
    }
  }
}
