* {
  box-sizing: border-box;
}

.group432 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1196px;
  height: 2047px;

  .cookiePolicyLastUpda3 {
    width: 379px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000000;
    font-size: 0;

    .cookiePolicyLastUpda {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 700;
    }

    .cookiePolicyLastUpda2 {
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-style: italic;
    }
  }

  .thisCookiePolicyExpl4 {
    margin: 45px 0px 0px;
    width: 1196px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000000;
    font-size: 0;

    .thisCookiePolicyExpl {
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
    }

    .thisCookiePolicyExpl2 {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 33px;
      font-weight: 600;
    }

    .thisCookiePolicyExpl3 {
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 500;
    }
  }
}
