* {
  box-sizing: border-box;
}

.group452 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 426px;
  height: 48px;

  .rectangle35 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    background: #df2202;
    padding: 9px;

    .whatsappLogoWhiteWit {
      width: 30px;
      height: 30px;
    }
  }

  .rectangle33 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    background: #df2202;
    padding: 9px 17px;

    .facebookLogoWhiteWit {
      width: 14px;
      height: 30px;
    }
  }

  .rectangle32 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    background: #df2202;
    padding: 11px 9px 10px;

    .xLogoWhiteWithoutBac {
      width: 30px;
      height: 27px;
    }
  }

  .rectangle352 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    background: #df2202;
    padding: 9px 11px;

    .tikTokLogoWhiteWitho {
      width: 26px;
      height: 30px;
    }
  }

  .rectangle34 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    background: #df2202;
    padding: 14px 9px 13px;

    .youTubeLogoWhiteWith {
      width: 30px;
      height: 21px;
    }
  }
}
