* {
  box-sizing: border-box;
}

.fromSmeLoansToCorpor {
  width: 454px;
  height: 105px;
  text-align: right;
  line-height: 35px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
}
