* {
  box-sizing: border-box;
}

.getItOnDownloadOnThe {
  width: 482px;
  height: 70px;
  background-image: url(../image/mlc12smn-4ilyxjc.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 40px #00000040);
}
