* {
  box-sizing: border-box;
}

.rectangle19 {
  display: flex;
  align-items: center;
  border-radius: 7px;
  background: #df2202;
  padding: 15px 31px 14px;
  width: 165px;
  height: 46px;

  .checkItOut {
    line-height: 17px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
  }
}
