* {
  box-sizing: border-box;
}

.includedAcrossPerson {
  width: 649px;
  height: 180px;
  line-height: 30px;
  letter-spacing: 0;
  color: #012e6d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 25px;
}
