* {
  box-sizing: border-box;
}

.a8M {
  width: 111px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
}
