* {
  box-sizing: border-box;
}

.aSimplerWayForSmEsTo {
  width: 360px;
  height: 30px;
  line-height: 15px;
  letter-spacing: 0;
  color: #012e6d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 15px;
}
