* {
  box-sizing: border-box;
}

.womenInBusinessIconR {
  border: 2px solid #df2202;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  background-image: url(../image/mli1z95i-4393u7p.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
