* {
  box-sizing: border-box;
}

.referral1 {
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 480px;
  height: 480px;
  background-image: url(../image/mlirymt2-ah9juep.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
