* {
  box-sizing: border-box;
}

.rectangle153 {
  display: flex;
  align-items: flex-start;
  border-radius: 15px;
  background: #044ea4;
  padding: 36px 43px 37px 44px;
  width: 1161px;
  height: 1173px;

  .iPhone1314161 {
    margin-top: 25px;
    width: 162px;
    height: 350px;
  }

  .iPhone13141A1 {
    width: 162px;
    height: 350px;
  }

  .step1LogInToTheJaspa2 {
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .step1LogInToTheJaspa {
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  .step3FillInYourBusin {
    margin: 235px 0px 0px;
    width: 300px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-size: 25px;
  }

  .step1LogInToTheJaspa4 {
    width: 300px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-size: 25px;

    .step1LogInToTheJaspa3 {
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }
  }

  .autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .autoWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 122px;
    margin-left: 45px;

    .step5SubmitRequestYo {
      margin: 218px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }
  }

  .autoWrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-left: 60px;
  }

  .autoWrapper4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 140px;
    margin-left: 45px;

    .step4ChoosePosModelA {
      margin: 288px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }
  }
}
