* {
  box-sizing: border-box;
}

.jaspaBelievesBanking {
  width: 575px;
  height: 350px;
  line-height: 35px;
  letter-spacing: 0;
  color: #012e6d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 25px;
}
