* {
  box-sizing: border-box;
}

.debitCards {
  width: 330px;
  height: 55px;
  line-height: 55px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-weight: 600;
}
