* {
  box-sizing: border-box;
}

.group469 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 507px;
  height: 441px;

  .jAspaStartupIncubato {
    width: 412px;
    line-height: 83px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 800;
  }

  .withAccessToStartupF {
    margin: 18px 0px 0px;
    width: 507px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0px 4px 20px #00000040;
  }
}
