* {
  box-sizing: border-box;
}

.group149 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  height: 565px;

  .yOurpartnerinbusines {
    width: 700px;
    height: 247px;
    text-align: right;
    line-height: 83px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 800;
  }

  .group148 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 18px;
    margin-left: 190px;

    .fromSmeLoansToCorpor {
      margin: 0px 0px 0px 56px;
      width: 454px;
      text-align: right;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 300;
    }

    .group44 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 11px;
      padding-top: 8px;
      padding-bottom: 7px;
      min-width: 510px;

      .group42 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 231px;
        min-width: 231px;
        height: 45px;

        .licensedByCbn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 187px;
          height: 30px;
          line-height: 90px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 23px;
          font-weight: 500;
        }

        .cbnLogoWithoutBackgr {
          width: 34px;
          height: 45px;
        }
      }

      .line1 {
        margin-top: 22px;
        background: #f5f5f5;
        width: 60px;
        height: 3px;
        rotate: 90deg;
      }

      .group43 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 236px;
        min-width: 236px;
        height: 45px;

        .insuredBy {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 30px;
          line-height: 90px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 23px;
          font-weight: 500;
        }

        .ndicLogo2WithoutBack {
          width: 106px;
          height: 45px;
        }
      }
    }
  }

  .group6 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 53px 30px 0px 195px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px #00000059;
    background: #df2202;
    padding: 21px 34px 20px;
    min-width: 475px;
    height: 71px;

    .openABusinessAccount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 325px;
      height: 30px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }

    .arrow1 {
      width: 66px;
      height: 2px;
    }
  }
}
