* {
  box-sizing: border-box;
}

.component5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #9747ff;
  padding: 19px;
  width: 1201px;
  height: 17634px;

  .keyboardArrowDown2 {
    position: absolute;
    top: 19px;
    left: 1056px;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    rotate: -180deg;
  }

  .yesJaspaMicrofinance {
    margin: 64px 0px 0px;
    width: 1041px;
    line-height: 28px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
  }

  .isJaspaMfbLicensedAn {
    line-height: 28px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
  }

  .rectangle1662 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 25px;
    border: 2px solid #044ea4;
    border-radius: 15px;
    background: #f5f5f5;
    padding: 17px 33px 17px 58px;
    min-width: 1161px;
    height: 108px;
  }

  .rectangle166 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border: 2px solid #044ea4;
    border-radius: 15px;
    background: #f5f5f5;
    padding: 17px 33px 17px 58px;
    min-width: 1161px;
    height: 108px;
  }

  .rectangle154 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #044ea4;
    border-radius: 15px;
    background: #f5f5f5;
    padding: 38px 58px;
    width: 1161px;
    height: 255px;
  }

  .group337 {
    position: relative;
    margin-top: 25px;
    width: 1161px;
    height: 255px;
  }

  .property1Frame230 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1161px;
    height: 1305px;
    overflow-y: auto;

    .keyboardArrowDown {
      border-radius: 8px;
      width: 70px;
      height: 70px;
      overflow: hidden;
    }
  }

  .property1Frame231 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    width: 1161px;
    height: 1305px;
    overflow-y: auto;

    .group336 {
      position: relative;
      width: 1161px;
      height: 255px;
    }
  }

  .property1Frame232 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 347px;
    width: 1161px;
    height: 1305px;
    overflow-y: auto;
  }

  .property1Frame233 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 347px;
    width: 1161px;
    height: 1305px;
    overflow-y: auto;

    .group348 {
      position: relative;
      margin-top: 25px;
      width: 1161px;
      height: 227px;

      .rectangle1542 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border: 2px solid #044ea4;
        border-radius: 15px;
        background: #f5f5f5;
        padding: 38px 58px;
        width: 1161px;
        height: 227px;
      }
    }
  }

  .property1Frame234 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 319px;
    width: 1161px;
    height: 1305px;
    overflow-y: auto;
  }

  .property1Frame235 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 347px;
    width: 1161px;
    height: 1305px;
    overflow-y: auto;
  }
}
