* {
  box-sizing: border-box;
}

.group167 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 396px;
  height: 108px;

  .connectWithUs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px 0px 0px 16px;
    width: 209px;
    height: 37px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
  }

  .group453 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 23px;
    min-width: 396px;
    height: 48px;

    .rectangle35 {
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 4px 20px 0px #00000040;
      background: #df2202;
      padding: 9px;

      .whatsappLogoWhiteWit {
        width: 30px;
        height: 30px;
      }
    }

    .rectangle33 {
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 4px 20px 0px #00000040;
      background: #df2202;
      padding: 9px 17px;

      .facebookLogoWhiteWit {
        width: 14px;
        height: 30px;
      }
    }

    .rectangle32 {
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 4px 20px 0px #00000040;
      background: #df2202;
      padding: 11px 9px 10px;

      .xLogoWhiteWithoutBac {
        width: 30px;
        height: 27px;
      }
    }

    .rectangle352 {
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 4px 20px 0px #00000040;
      background: #df2202;
      padding: 9px 11px;

      .tikTokLogoWhiteWitho {
        width: 26px;
        height: 30px;
      }
    }

    .rectangle34 {
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 4px 20px 0px #00000040;
      background: #df2202;
      padding: 14px 9px 13px;

      .youTubeLogoWhiteWith {
        width: 30px;
        height: 21px;
      }
    }
  }
}
