* {
  box-sizing: border-box;
}

.multiLayerAccount {
  width: 750px;
  height: 60px;
  line-height: 60px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
}
