* {
  box-sizing: border-box;
}

.downloadAppStoreJasp {
  border: 2px solid #044ea4;
  border-radius: 8px;
  width: 262px;
  height: 85px;
  background-image: url(../image/mlk0cbqe-ziin117.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
