* {
  box-sizing: border-box;
}

.a2518304HappyCompute {
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 500px;
  height: 500px;
  background-image: url(../image/mlihto23-t6r4oqr.png);
  background-position: -43px 0px;
  background-size: 149.81% 100%;
  background-repeat: no-repeat;
}
