* {
  box-sizing: border-box;
}

.rectangle169 {
  display: flex;
  align-items: flex-start;
  border-radius: 15px;
  background: #044ea4;
  padding: 36px 43px 36px 44px;
  width: 1161px;
  height: 1547px;

  .iPhone1314163 {
    margin-top: 25px;
    width: 162px;
    height: 350px;
  }

  .iPhone13141A3 {
    width: 162px;
    height: 350px;
  }

  .step1GoToTransfersOn2 {
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .step1GoToTransfersOn {
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  .step1GoToTransfersOn4 {
    width: 300px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-size: 25px;
  }

  .autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  .autoWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 122px;
    margin-left: 45px;

    .step1GoToTransfersOn3 {
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }

    .step3ChooseTheCountr {
      margin: 253px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }

    .step5InputTransferAm {
      margin: 235px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }

    .step7SelectSendMoney {
      margin: 234px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }
  }

  .autoWrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-left: 60px;
  }

  .autoWrapper4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 140px;
    margin-left: 45px;

    .step4EnterRecipientB {
      margin: 304px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }

    .step6ReviewDetailsAn {
      margin: 289px 0px 0px;
      width: 300px;
      line-height: 35px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-size: 25px;
    }
  }
}
