* {
  box-sizing: border-box;
}

.csrPortraitInFull1 {
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 420px;
  height: 420px;
  background-image: url(../image/mlikhidk-pn5gmlq.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
