* {
  box-sizing: border-box;
}

.rectangle19 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #df2202;
  padding: 22px 54px 21px 55px;
  width: 250px;
  height: 70px;

  .learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 27px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
}
