* {
  box-sizing: border-box;
}

.group137 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 637px;
  height: 510px;

  .uncompromisingSecuri {
    width: 637px;
    text-align: right;
    line-height: 75px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .securityIsAtTheCoreO {
    margin: 45px 0px 0px 137px;
    width: 500px;
    text-align: right;
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
}
