* {
  box-sizing: border-box;
}

.frame92 {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 1200px;
  height: 461px;
  overflow-x: auto;

  .jaspaMfbIsOneOfTheFe {
    margin: 50px 0px 0px;
    width: 650px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .payrollSystemForSmEs {
    line-height: 50px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 600;
  }

  .rectangle19 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 50px 200px 0px;
    border-radius: 10px;
    background: #df2202;
    padding: 22px 54px 21px 55px;

    .learnMore {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 141px;
      height: 27px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }
  }

  .group120 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: #044ea4;
    padding: 70px 110px 51px;
  }

  .group119 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    border-radius: 30px;
    background: #87b6ed;
    padding: 70px 110px 51px;

    .builtInAccountingSys {
      line-height: 50px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 45px;
      font-weight: 600;
    }

    .jaspaProvidesABankin {
      margin: 50px 0px 0px;
      width: 650px;
      text-align: center;
      line-height: 30px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
    }
  }

  .group121 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    border-radius: 30px;
    background: #044ea4;
    padding: 70px 110px 51px;
  }
}
