* {
  box-sizing: border-box;
}

.frame6 {
  display: flex;
  align-items: center;
  width: 1240px;
  height: 500px;
  overflow-x: auto;

  .aChiamakaOkafor {
    margin: 43px 0px 0px;
    line-height: 30px;
    letter-spacing: 0;
    color: #df2202;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
  }

  .iOpenedAStudentSavin {
    margin: 0px 0px 0px 4px;
    width: 275px;
    line-height: 30px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .aAdeyemiOlatunji {
    margin: 58px 0px 0px;
    line-height: 30px;
    letter-spacing: 0;
    color: #df2202;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
  }

  .gettingASalaryAdvanc {
    width: 275px;
    line-height: 30px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .rectangle25 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #df2202;
    border-radius: 15px;
    background: #87b6ed33;
    padding: 88px 30px 48px;
  }

  .rectangle26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 48px;
    border: 3px solid #df2202;
    border-radius: 15px;
    background: #87b6ed33;
    padding: 73px 22px 48px 30px;
  }

  .rectangle27 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 48px;
    border: 3px solid #df2202;
    border-radius: 15px;
    background: #87b6ed33;
    padding: 118px 39px 48px 26px;
  }

  .rectangle28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 48px;
    border: 3px solid #df2202;
    border-radius: 15px;
    background: #87b6ed33;
    padding: 73px 35px 48px 30px;
  }

  .rectangle252 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 48px;
    border: 3px solid #df2202;
    border-radius: 15px;
    background: #87b6ed33;
    padding: 88px 30px 48px;
  }
}
