* {
  box-sizing: border-box;
}

.calculator {
  width: 135px;
  height: 25px;
  line-height: 25px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
}
