* {
  box-sizing: border-box;
}

.acceptPaymentsAnywhe3 {
  width: 918px;
  height: 300px;
  line-height: 30px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-size: 0;

  .acceptPaymentsAnywhe {
    line-height: 30px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .acceptPaymentsAnywhe2 {
    line-height: 30px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
  }
}
