* {
  box-sizing: border-box;
}

.digitalPaymentsDrive {
  width: 360px;
  height: 99px;
  line-height: 33px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: 600;
}
