* {
  box-sizing: border-box;
}

.csrPortraitInFull1 {
  display: flex;
  align-items: center;
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 420px;
  height: 420px;
  background-image: url(../image/mlikgoyw-59v7irx.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .rectangle178 {
    border-radius: 30px;
    background: #012e6d4d;
    width: 420px;
    height: 420px;
  }
}
