* {
  box-sizing: border-box;
}

.secureInFull1 {
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 480px;
  height: 480px;
  background-image: url(../image/mlitfkk2-v7ctge0.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
