* {
  box-sizing: border-box;
}

.toBeNigeriaSMostTrus {
  width: 450px;
  height: 210px;
  text-align: right;
  line-height: 43px;
  letter-spacing: 0;
  color: #012e6d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 30px;
}
