* {
  box-sizing: border-box;
}

.jaspaSResourceCenter {
  width: 1160px;
  height: 70px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0;
  color: #012e6d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 25px;
}
