* {
  box-sizing: border-box;
}

.thisPrivacyPolicyExp4 {
  width: 1196px;
  height: 3675px;
  line-height: 35px;
  letter-spacing: 0;
  color: #000000;
  font-size: 0;

  .thisPrivacyPolicyExp {
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .thisPrivacyPolicyExp2 {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 600;
  }

  .thisPrivacyPolicyExp3 {
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
}
