* {
  box-sizing: border-box;
}

.group136 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 525px;
  height: 620px;

  .xeroAccountingIntegr {
    width: 425px;
    line-height: 75px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .jaspaIntegratesSeaml {
    margin: 45px 0px 0px;
    width: 525px;
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
}
