* {
  box-sizing: border-box;
}

.group289 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 821px;
  height: 110px;

  .howToOpenAnAccountOn {
    line-height: 45px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 600;
  }

  .getAnswersToSomeComm {
    margin: 15px 0px 0px;
    width: 821px;
    line-height: 25px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
}
