* {
  box-sizing: border-box;
}

.startupSlim1 {
  display: flex;
  align-items: center;
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 570px;
  height: 570px;
  background-image: url(../image/mlh6b4kh-6l23wpv.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .rectangle178 {
    border-radius: 30px;
    background: #012e6d4d;
    width: 570px;
    height: 570px;
  }
}
