* {
  box-sizing: border-box;
}

.rectangle68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  background: #f5f5f5;
  padding: 33px 615px 33px 30px;
  width: 1200px;
  height: 626px;

  .debitCards {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 600;
  }

  .a1 {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .rectangle71 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border: 2px solid #044ea4;
    border-radius: 10px;
    padding: 11px 182px 10px 11px;
    min-width: 555px;
    height: 100px;

    .rectangle77 {
      display: flex;
      align-items: center;
      border: 2px solid #044ea4;
      border-radius: 8px;
      padding: 18px 22px 18px 23px;
    }
  }

  .rectangle72 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 15px;
    border: 2px solid #044ea4;
    border-radius: 10px;
    padding: 11px 100px 10px 11px;
    min-width: 555px;
    height: 100px;

    .rectangle78 {
      display: flex;
      align-items: center;
      border: 2px solid #044ea4;
      border-radius: 8px;
      padding: 18px 19px;
    }
  }

  .rectangle73 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 15px;
    border: 2px solid #044ea4;
    border-radius: 10px;
    padding: 11px 134px 10px 11px;
    min-width: 555px;
    height: 100px;

    .rectangle782 {
      display: flex;
      align-items: center;
      border: 2px solid #044ea4;
      border-radius: 8px;
      padding: 18px;
    }
  }

  .rectangle74 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 15px;
    border: 2px solid #044ea4;
    border-radius: 10px;
    padding: 11px 237px 10px 11px;
    min-width: 555px;
    height: 100px;

    .rectangle783 {
      display: flex;
      align-items: center;
      border: 2px solid #044ea4;
      border-radius: 8px;
      padding: 18px 17px 18px 16px;
    }
  }

  .rectangle75 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 15px;
    border: 2px solid #044ea4;
    border-radius: 10px;
    padding: 11px 179px 10px 11px;
    min-width: 555px;
    height: 100px;

    .rectangle784 {
      display: flex;
      align-items: center;
      border: 2px solid #044ea4;
      border-radius: 8px;
      padding: 18px 17px;
    }
  }
}
