* {
  box-sizing: border-box;
}

.referral2 {
  display: flex;
  align-items: center;
  border: 5px solid #df2202;
  border-radius: 30px;
  width: 570px;
  height: 570px;
  background-image: url(../image/mlhu75ry-xfro3k4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .rectangle179 {
    border-radius: 30px;
    background: #012e6d4d;
    width: 570px;
    height: 570px;
  }
}
