* {
  box-sizing: border-box;
}

.group441 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1196px;
  height: 371px;

  .corporateSocialRespo {
    width: 740px;
    line-height: 70px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .jaspaIsCommittedToMe {
    margin: 45px 0px 0px;
    width: 1196px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .group440 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 45px;
    margin-right: 772px;
    border-radius: 8px;
    background: #df2202;
    padding: 23px 33px 23px 34px;
    min-width: 424px;
    height: 71px;

    .exploreOurInitiative {
      line-height: 25px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }

    .arrow1 {
      width: 66px;
      height: 2px;
    }
  }
}
