* {
  box-sizing: border-box;
}

.downloadTheAppNowToG {
  width: 560px;
  height: 246px;
  line-height: 83px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 700;
}
