* {
  box-sizing: border-box;
}

.vision {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 228px;
  height: 75px;
  line-height: 75px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
}
