* {
  box-sizing: border-box;
}

.youthInnovatorsIconR {
  border: 2px solid #df2202;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  background-image: url(../image/mli1zhyf-5bimas2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
