* {
  box-sizing: border-box;
}

.ourImpact {
  width: 466px;
  height: 83px;
  line-height: 83px;
  letter-spacing: 0;
  color: #ffffff;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 700;
}
