* {
  box-sizing: border-box;
}

.toEmpowerIndividuals {
  width: 450px;
  height: 172px;
  line-height: 43px;
  letter-spacing: 0;
  color: #012e6d;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 30px;
}
