* {
  box-sizing: border-box;
}

.resources {
  width: 343px;
  height: 55px;
  line-height: 55px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 65px;
  font-weight: 600;
  text-shadow: 0px 4px 10px #00000040;
}
