* {
  box-sizing: border-box;
}

.businessHomepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f5f5f5;
  width: 1440px;
  height: 6411px;
  overflow: hidden;

  .rectangle178 {
    border-radius: 30px;
    background: #012e6d4d;
    width: 570px;
    height: 570px;
  }

  .learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 27px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  .weProvideFundingMent {
    margin: 59px 0px 0px;
    width: 499px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .arrow1 {
    width: 66px;
    height: 2px;
  }

  .autoWrapper {
    position: relative;
    width: 1440px;
    height: 896px;

    .rectangle4 {
      position: absolute;
      top: 0;
      left: 0;
      background: #044ea4;
      width: 1440px;
      height: 896px;
    }

    .blueSpirally1 {
      position: absolute;
      bottom: -336px;
      left: 272px;
      width: 896px;
      height: 1440px;
      rotate: -90deg;
    }

    .group149 {
      display: flex;
      position: absolute;
      top: 236px;
      left: 640px;
      flex-direction: column;
      align-items: flex-start;
      width: 700px;
      height: 565px;

      .yOurpartnerinbusines {
        width: 700px;
        height: 247px;
        text-align: right;
        line-height: 83px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 80px;
        font-weight: 800;
      }

      .group148 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 18px;
        margin-left: 190px;

        .fromSmeLoansToCorpor {
          margin: 0px 0px 0px 56px;
          width: 454px;
          text-align: right;
          line-height: 35px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 300;
        }

        .group44 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 11px;
          padding-top: 8px;
          padding-bottom: 7px;
          min-width: 510px;

          .group42 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 231px;
            min-width: 231px;
            height: 45px;

            .licensedByCbn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 187px;
              height: 30px;
              line-height: 90px;
              letter-spacing: 0;
              color: #f5f5f5;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 23px;
              font-weight: 500;
            }

            .cbnLogoWithoutBackgr {
              width: 34px;
              height: 45px;
            }
          }

          .line1 {
            margin-top: 22px;
            background: #f5f5f5;
            width: 60px;
            height: 3px;
            rotate: 90deg;
          }

          .group43 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 236px;
            min-width: 236px;
            height: 45px;

            .insuredBy {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 120px;
              height: 30px;
              line-height: 90px;
              letter-spacing: 0;
              color: #f5f5f5;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 23px;
              font-weight: 500;
            }

            .ndicLogo2WithoutBack {
              width: 106px;
              height: 45px;
            }
          }
        }
      }

      .group6 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin: 53px 30px 0px 195px;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000059;
        background: #df2202;
        padding: 21px 34px 20px;
        min-width: 475px;
        height: 71px;

        .openABusinessAccount {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 325px;
          height: 30px;
          line-height: 60px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 600;
        }
      }
    }

    .businessHomepage11 {
      position: absolute;
      top: 188px;
      left: 54px;
      width: 645px;
      height: 708px;
    }

    .homePageHeader {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      box-shadow: 0px 4px 50px 10px #00000040;
      background: #044ea4;
      padding: 27px 66px 34px 59px;
      width: 1440px;
      height: 140px;

      .groupJaspaLogo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .jaspaLogoWithourBack {
          width: 172px;
          height: 62px;
        }

        .bankSmartLiveFree {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 4px 0px 0px;
          width: 162px;
          height: 13px;
          line-height: 60px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-style: italic;
        }
      }

      .rectangle2 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 108px;
        border-radius: 6px;
        background: #87b6ed;
        padding: 11px 17px 11px 18px;

        .personal {
          width: 92px;
          height: 24px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          line-height: 60px;
          letter-spacing: 0;
          white-space: nowrap;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .rectangle3 {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 34px;
        border-radius: 5px;
        background: #f5f5f5;
        padding: 13px 11px 14px 14px;

        .business {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 110px;
          height: 28px;
          line-height: 60px;
          letter-spacing: 0;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 23px;
          font-weight: 700;
        }
      }

      .aboutUs {
        margin: 13px 0px 0px 98px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .productsServices {
        margin: 13px 0px 0px 41px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .group112 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 82px 91px 0px 92px;

    .group111 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-right: 179px;
      margin-left: 179px;

      .whyJaspaForBusiness {
        line-height: 60px;
        letter-spacing: 0;
        color: #044ea4;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .jaspaOffersASuiteOfP {
        margin: 45px 0px 0px;
        width: 826px;
        text-align: center;
        line-height: 35px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
      }
    }

    .group110 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 57px;
      min-width: 1257px;
      height: 500px;

      .corporateAccounts {
        margin: 22px 0px 0px 10px;
        width: 181px;
        line-height: 35px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 500;
      }

      .workingCapitalAndExp {
        margin: 33px 0px 0px 10px;
        width: 219px;
        line-height: 20px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }

      .rectangle11 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px #00000040;
        background: #87b6ed;
        padding: 23px 20px 53px;

        .rectangle15 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border: 3px solid #df2202;
          border-radius: 10px;
          background: #f5f5f5;
          padding: 60px 41px 59px 42px;

          .nairaBillsOutlineRed {
            width: 150px;
            height: 114px;
          }
        }

        .sMeLoans {
          margin: 22px 0px 0px 10px;
          width: 104px;
          line-height: 35px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 35px;
          font-weight: 500;
        }
      }

      .rectangle12 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px #00000040;
        background: #87b6ed;
        padding: 23px 20px 53px;

        .rectangle16 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border: 3px solid #df2202;
          border-radius: 10px;
          background: #f5f5f5;
          padding: 42px 41px 41px 42px;

          .buildingOutlineIconR {
            width: 150px;
            height: 150px;
          }
        }
      }

      .rectangle13 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px #00000040;
        background: #87b6ed;
        padding: 23px 20px 73px;

        .rectangle17 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border: 3px solid #df2202;
          border-radius: 10px;
          background: #f5f5f5;
          padding: 42px 48px 41px 49px;

          .machineryIconRedWith {
            width: 136px;
            height: 150px;
          }
        }

        .assetFinancing {
          margin: 22px 0px 0px 10px;
          width: 174px;
          line-height: 35px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 35px;
          font-weight: 500;
        }
      }

      .rectangle14 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px #00000040;
        background: #87b6ed;
        padding: 23px 20px;

        .rectangle18 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border: 3px solid #df2202;
          border-radius: 10px;
          background: #f5f5f5;
          padding: 80px 41px 79px 42px;

          .peopleOutlineIconRed {
            width: 150px;
            height: 74px;
          }
        }

        .solutionsForTradeGro {
          margin: 28px 0px 0px 10px;
          width: 219px;
          line-height: 20px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 163px;
    padding-right: 75px;
    padding-left: 75px;

    .group486 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 30px;
      background: #044ea4;
      padding: 80px 88px 80px 89px;

      .startupIncubator {
        width: 361px;
        line-height: 75px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .rectangle19 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 85px;
        margin-right: 249px;
        border-radius: 10px;
        background: #df2202;
        padding: 22px 54px 21px 55px;
      }
    }

    .startupSlim1 {
      display: flex;
      align-items: center;
      border: 5px solid #df2202;
      border-radius: 30px;
      height: 570px;
      background-image: url(../image/mlgp64n9-voyz90r.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 184px;
    padding-right: 75px;
    padding-left: 75px;

    .partnerInFull1 {
      display: flex;
      align-items: center;
      border: 5px solid #df2202;
      border-radius: 30px;
      height: 570px;
      background-image: url(../image/mlgp64n9-vzlzsyb.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .group113 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 30px;
      background: #044ea4;
      padding: 53px 88px 53px 89px;

      .partnershipProgram {
        margin: 0px 0px 0px 66px;
        width: 433px;
        text-align: right;
        line-height: 75px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .thePartnershipProgra {
        margin: 59px 0px 0px;
        width: 499px;
        text-align: right;
        line-height: 35px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
      }

      .rectangle192 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 104px;
        margin-left: 249px;
        border-radius: 10px;
        background: #df2202;
        padding: 22px 54px 21px 55px;
      }
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 184px;
    padding-right: 75px;
    padding-left: 75px;

    .group117 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 30px;
      background: #044ea4;
      padding: 58px 88px 58px 89px;

      .referralProgram {
        width: 322px;
        line-height: 75px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .group23 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 85px;
        margin-right: 75px;
        border-radius: 8px;
        background: #df2202;
        padding: 21px 34px 20px 35px;
        min-width: 424px;
        height: 71px;

        .referNowInTheApp {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 269px;
          height: 30px;
          line-height: 60px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 600;
        }
      }
    }

    .referral2 {
      display: flex;
      align-items: center;
      border: 5px solid #df2202;
      border-radius: 30px;
      height: 570px;
      background-image: url(../image/mlgp64n9-y923x49.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .frame15 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 102px -133px 0px -132px;
    padding: 10px;
    row-gap: 10px;

    .jaspaWaterfallBlueWi {
      flex-shrink: 0;
      align-self: stretch;
      opacity: 0.05;
      width: 1685px;
      height: 933px;
    }

    .trustedByNigerians {
      position: absolute;
      top: 79px;
      left: 474px;
      flex-shrink: 0;
      width: 756px;
      height: 75px;
      line-height: 75px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 70px;
      font-weight: 800;
    }

    .frame6 {
      display: flex;
      position: absolute;
      top: 222px;
      left: 232px;
      flex-shrink: 0;
      align-items: center;
      z-index: 1;
      width: 1240px;
      height: 500px;
      overflow-x: auto;

      .aChiamakaOkafor {
        margin: 43px 0px 0px;
        line-height: 30px;
        letter-spacing: 0;
        color: #df2202;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: italic;
      }

      .iOpenedAStudentSavin {
        margin: 0px 0px 0px 4px;
        width: 275px;
        line-height: 30px;
        letter-spacing: 0;
        color: #044ea4;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
      }

      .aAdeyemiOlatunji {
        margin: 58px 0px 0px;
        line-height: 30px;
        letter-spacing: 0;
        color: #df2202;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: italic;
      }

      .gettingASalaryAdvanc {
        width: 275px;
        line-height: 30px;
        letter-spacing: 0;
        color: #044ea4;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
      }

      .rectangle25 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #df2202;
        border-radius: 15px;
        background: #87b6ed33;
        padding: 88px 30px 48px;
      }

      .rectangle26 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 48px;
        border: 3px solid #df2202;
        border-radius: 15px;
        background: #87b6ed33;
        padding: 73px 22px 48px 30px;
      }

      .rectangle27 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 48px;
        border: 3px solid #df2202;
        border-radius: 15px;
        background: #87b6ed33;
        padding: 118px 39px 48px 26px;
      }

      .rectangle28 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 48px;
        border: 3px solid #df2202;
        border-radius: 15px;
        background: #87b6ed33;
        padding: 73px 35px 48px 30px;
      }

      .rectangle252 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 48px;
        border: 3px solid #df2202;
        border-radius: 15px;
        background: #87b6ed33;
        padding: 88px 30px 48px;
      }
    }

    .group232 {
      display: flex;
      position: absolute;
      top: 856px;
      left: 614px;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      z-index: 2;
      border-radius: 8px;
      background: #df2202;
      padding: 21px 34px 20px;
      width: 475px;
      height: 71px;

      .openABusinessAccount2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 323px;
        height: 30px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 600;
      }
    }

    .joinThousandsOfNiger {
      position: absolute;
      top: 800px;
      left: 469px;
      flex-shrink: 0;
      z-index: 3;
      width: 766px;
      height: 25px;
      line-height: 25px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }
  }

  .footer {
    position: relative;
    margin-top: 58px;
    width: 1748px;
    height: 1143px;

    .rectangle7 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: #044ea4;
      padding: 120px 100px 51px;
      width: 1440px;
      height: 1143px;

      .guides {
        margin: 18px 0px 0px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .personalAccount {
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .autoWrapper5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding-right: 323px;
        padding-left: 0;

        .aboutUs2 {
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .productsServices2 {
          margin: 0px 0px 0px 55px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .resources {
          margin: 0px 0px 0px 35px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .contactUs {
          margin: 0px 0px 0px 51px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }
      }

      .autoWrapper9 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 56px;
        padding-right: 261px;
        padding-left: 0;

        .visionMission {
          width: 102px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }

        .autoWrapper6 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 92px;

          .businessAccount {
            margin: 18px 0px 0px 1px;
            line-height: 25px;
            letter-spacing: 0;
            color: #f5f5f5;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: 500;
          }
        }

        .autoWrapper7 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 118px;
        }

        .autoWrapper8 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 124px;
        }
      }

      .autoWrapper12 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 572px;
        padding-left: 0;

        .autoWrapper10 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
        }

        .autoWrapper11 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 18px;
          margin-left: 121px;
        }

        .loanCalculator {
          margin: 18px 0px 0px 192px;
          width: 133px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .autoWrapper13 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 649px;
        padding-left: 0;

        .uSsdBanking {
          margin: 18px 0px 0px 126px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }

        .blog {
          margin: 0px 0px 0px 166px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .mobileApp {
        margin: 18px 0px 0px 194px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .xeroIntegrationAccou {
        margin: 18px 0px 0px 194px;
        width: 281px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .connectWithUs {
        margin: 62px 0px 0px 835px;
        line-height: 20px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .autoWrapper14 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 3px;
        padding-left: 0;

        .getItOnDownloadOnThe {
          width: 500px;
          height: 70px;
          background-image: url(../image/mlgp64mk-cbuiztv.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          filter: drop-shadow(0px 4px 20px #0000004d);
        }

        .group452 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 22px;
          width: 426px;
          min-width: 426px;
          height: 48px;

          .rectangle35 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px;

            .whatsappLogoWhiteWit {
              width: 30px;
              height: 30px;
            }
          }

          .rectangle33 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px 17px;

            .facebookLogoWhiteWit {
              width: 14px;
              height: 30px;
            }
          }

          .rectangle32 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 11px 9px 10px;

            .xLogoWhiteWithoutBac {
              width: 30px;
              height: 27px;
            }
          }

          .rectangle352 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px 11px;

            .tikTokLogoWhiteWitho {
              width: 26px;
              height: 30px;
            }
          }

          .rectangle34 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 14px 9px 13px;

            .youTubeLogoWhiteWith {
              width: 30px;
              height: 21px;
            }
          }
        }
      }

      .line2 {
        margin-top: 58px;
        border-radius: 50%;
        background: #df2202;
        width: 1240px;
        height: 3px;
      }

      .autoWrapper15 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 38px;
        padding-right: 40px;
        padding-left: 40px;

        .copyright2025JaspaMf {
          display: flex;
          align-items: center;
          width: 501px;
          height: 26px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .privacyPolicy {
          margin: 0px 0px 0px 335px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .cookiePolicy {
          margin: 0px 0px 0px 52px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .jaspaLogoWhiteWithou {
      position: absolute;
      bottom: 483px;
      left: 871px;
      opacity: 0.3;
      width: 852px;
      height: 307px;
      rotate: -26deg;
    }
  }
}
