* {
  box-sizing: border-box;
}

.group307 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1227px;
  height: 1036px;

  .autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    .fAQs {
      line-height: 45px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 45px;
      font-weight: 600;
    }

    .getAnswersToSomeComm {
      margin: 38px 0px 0px;
      width: 317px;
      line-height: 30px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
    }

    .rectangle19 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 75px;
      margin-right: 67px;
      border-radius: 10px;
      background: #df2202;
      padding: 23px 47px 22px;

      .checkItOut {
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 600;
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    .rectangle161 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 15px;
      background: #044ea4;
      padding: 66px 33px;
      min-width: 577px;

      .fAQsIcon1WhiteWithou {
        width: 161px;
        height: 150px;
      }
    }

    .rectangle163 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 76px;
      border-radius: 15px;
      background: #044ea4;
      padding: 66px 33px 66px 45px;
      min-width: 577px;

      .calculatorIconWhiteW {
        width: 138px;
        height: 180px;
      }
    }
  }

  .autoWrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    .rectangle162 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 15px;
      background: #044ea4;
      padding: 66px 33px;
      min-width: 577px;

      .guidesIconWhiteWitho {
        width: 161px;
        height: 162px;
      }
    }

    .rectangle164 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 76px;
      border-radius: 15px;
      background: #044ea4;
      padding: 66px 33px;
      min-width: 577px;

      .blogIconWhiteWithout {
        width: 161px;
        height: 161px;
      }
    }
  }
}
