* {
  box-sizing: border-box;
}

.legalAboutUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f5f5f5;
  padding-top: 84px;
  width: 1440px;
  height: 11283px;
  overflow: hidden;

  .line5 {
    border-radius: 50%;
    background: #df2202;
    width: 1230px;
    height: 4px;
  }

  .theseTermsConditions2 {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 600;
  }

  .theseTermsConditions {
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .termsConditionsLastU2 {
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
  }

  .termsConditionsLastU {
    line-height: 35px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
  }

  .group431 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 46px;
    margin-right: 34px;

    .privacyPolicyLastUpd {
      width: 379px;
      line-height: 35px;
      letter-spacing: 0;
      color: #000000;
      font-size: 0;
    }

    .thisPrivacyPolicyExp2 {
      margin: 45px 0px 0px;
      width: 1196px;
      line-height: 35px;
      letter-spacing: 0;
      color: #000000;
      font-size: 0;

      .thisPrivacyPolicyExp {
        line-height: 35px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }

  .autoWrapper {
    position: relative;
    width: 1440px;
    height: 294px;

    .bureauDeBTimentModer {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      padding-top: 54px;
      width: 1440px;
      height: 294px;
      background-image: url(../image/mlinjur4-k7q9crl.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle80 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        background: #012e6d9f;
        padding: 82px 571px 103px 572px;

        .aboutUs {
          line-height: 55px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 65px;
          font-weight: 600;
          text-shadow: 0px 4px 10px #00000080;
        }
      }
    }

    .homePageHeader {
      display: flex;
      position: absolute;
      top: -84px;
      left: 0;
      align-items: flex-start;
      box-shadow: 0px 4px 50px 10px #00000040;
      background: #044ea4;
      padding: 27px 66px 34px 59px;
      width: 1440px;
      height: 140px;

      .groupJaspaLogo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .jaspaLogoWithourBack {
          width: 172px;
          height: 62px;
        }

        .bankSmartLiveFree {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 4px 0px 0px;
          width: 162px;
          height: 13px;
          line-height: 60px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-style: italic;
        }
      }

      .rectangle2 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 108px;
        border-radius: 6px;
        background: #87b6ed;
        padding: 11px 17px 11px 18px;

        .personal {
          width: 92px;
          height: 24px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          line-height: 60px;
          letter-spacing: 0;
          white-space: nowrap;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .rectangle3 {
        display: flex;
        align-items: center;
        margin-top: 19px;
        margin-left: 42px;
        border-radius: 5px;
        background: #87b6ed;
        padding: 10px 12px 11px 15px;

        .business {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 95px;
          height: 24px;
          line-height: 60px;
          letter-spacing: 0;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .aboutUs2 {
        margin: 13px 0px 0px 98px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: 700;
        text-decoration: underline;
      }

      .productsServices {
        margin: 13px 0px 0px 36px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .resources {
        margin: 13px 0px 0px 41px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .legalCompliance {
    margin: 83px 0px 0px 359px;
    line-height: 70px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .rectangle168 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 45px;
    background: #f5f5f5;
    padding: 0px 105px 50px;

    .group430 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 46px 17px 0px;

      .termsConditionsLastU3 {
        width: 505px;
        line-height: 35px;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;
      }

      .theseTermsConditions5 {
        margin: 45px 0px 0px;
        width: 1196px;
        line-height: 35px;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;

        .theseTermsConditions3 {
          line-height: 35px;
          letter-spacing: 0;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 600;
        }

        .theseTermsConditions4 {
          line-height: 35px;
          letter-spacing: 0;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
        }
      }
    }
  }

  .rectangle1682 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #f5f5f5;
    padding: 0px 88px 50px 122px;
  }

  .rectangle169 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #f5f5f5;
    padding: 0px 88px 58px 122px;
  }

  .footer {
    position: relative;
    width: 1748px;
    height: 1143px;

    .rectangle7 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: #044ea4;
      padding: 120px 100px 51px;
      width: 1440px;
      height: 1143px;

      .guides {
        margin: 18px 0px 0px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .personalAccount {
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .autoWrapper2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding-right: 323px;
        padding-left: 0;

        .aboutUs3 {
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .productsServices2 {
          margin: 0px 0px 0px 55px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .resources2 {
          margin: 0px 0px 0px 35px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }

        .contactUs {
          margin: 0px 0px 0px 51px;
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }
      }

      .autoWrapper6 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 56px;
        padding-right: 261px;
        padding-left: 0;

        .visionMission {
          width: 102px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }

        .autoWrapper3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 92px;

          .businessAccount {
            margin: 18px 0px 0px 1px;
            line-height: 25px;
            letter-spacing: 0;
            color: #f5f5f5;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: 500;
          }
        }

        .autoWrapper4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 118px;
        }

        .autoWrapper5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-left: 124px;
        }
      }

      .autoWrapper9 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 572px;
        padding-left: 0;

        .autoWrapper7 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
        }

        .autoWrapper8 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 18px;
          margin-left: 121px;
        }

        .loanCalculator {
          margin: 18px 0px 0px 192px;
          width: 133px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .autoWrapper10 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 649px;
        padding-left: 0;

        .uSsdBanking {
          margin: 18px 0px 0px 126px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }

        .blog {
          margin: 0px 0px 0px 166px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .mobileApp {
        margin: 18px 0px 0px 194px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .xeroIntegrationAccou {
        margin: 18px 0px 0px 194px;
        width: 281px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .connectWithUs {
        margin: 62px 0px 0px 835px;
        line-height: 20px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .autoWrapper11 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 3px;
        padding-left: 0;

        .getItOnDownloadOnThe {
          width: 500px;
          height: 70px;
          background-image: url(../image/mlinjur4-hv9pupv.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          filter: drop-shadow(0px 4px 20px #0000004d);
        }

        .group452 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 22px;
          width: 426px;
          min-width: 426px;
          height: 48px;

          .rectangle35 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px;

            .whatsappLogoWhiteWit {
              width: 30px;
              height: 30px;
            }
          }

          .rectangle33 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px 17px;

            .facebookLogoWhiteWit {
              width: 14px;
              height: 30px;
            }
          }

          .rectangle32 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 11px 9px 10px;

            .xLogoWhiteWithoutBac {
              width: 30px;
              height: 27px;
            }
          }

          .rectangle352 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 9px 11px;

            .tikTokLogoWhiteWitho {
              width: 26px;
              height: 30px;
            }
          }

          .rectangle34 {
            display: flex;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0px 4px 20px 0px #00000040;
            background: #df2202;
            padding: 14px 9px 13px;

            .youTubeLogoWhiteWith {
              width: 30px;
              height: 21px;
            }
          }
        }
      }

      .line2 {
        margin-top: 58px;
        border-radius: 50%;
        background: #df2202;
        width: 1240px;
        height: 3px;
      }

      .autoWrapper12 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 38px;
        padding-right: 40px;
        padding-left: 40px;

        .copyright2025JaspaMf {
          display: flex;
          align-items: center;
          width: 501px;
          height: 26px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .privacyPolicy {
          margin: 0px 0px 0px 335px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .cookiePolicy {
          margin: 0px 0px 0px 52px;
          line-height: 20px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .jaspaLogoWhiteWithou {
      position: absolute;
      bottom: 483px;
      left: 871px;
      opacity: 0.3;
      width: 852px;
      height: 307px;
      rotate: -26deg;
    }
  }
}
