* {
  box-sizing: border-box;
}

.frameTransfers {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1140px;
  height: 560px;

  .rectangle74 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 345px;
    border-radius: 10px;
    background: #87b6ed;
    padding: 13px 239px 12px 13px;
    width: 555px;
    min-width: 555px;
    height: 100px;

    .rectangle78 {
      display: flex;
      align-items: center;
      border-radius: 8px;
      background: #f5f5f5;
      padding: 20px 19px 20px 18px;

      .a4 {
        line-height: 35px;
        letter-spacing: 0;
        color: #044ea4;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
      }
    }

    .transfers {
      line-height: 35px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 45px;
      font-weight: 600;
    }
  }

  .rectangle76 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #87b6ed;
    padding: 54px 77px 110px 78px;

    .mobileTransferWithNa {
      width: 75px;
      height: 76px;
    }

    .transfers2 {
      margin: 45px 0px 0px;
      line-height: 55px;
      letter-spacing: 0;
      color: #044ea4;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 55px;
      font-weight: 600;
    }

    .moveMoneyInstantlyAn {
      margin: 45px 0px 0px;
      width: 400px;
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
    }
  }
}
