* {
  box-sizing: border-box;
}

.frame230 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1350px;
  height: 390px;

  .bringingReliableAffo {
    margin: 25px 0px 0px;
    width: 316px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .rectangle175 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background: #044ea4;
    padding: 85px 49px;

    .youthSmeEmpowerment {
      margin: 0px 0px 0px 42px;
      width: 342px;
      text-align: center;
      line-height: 45px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 45px;
      font-weight: 700;
    }

    .providingAccessToBus {
      margin: 30px 0px 0px;
      width: 422px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }
  }

  .rectangle1752 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #87b6ed;
    padding: 41px 49px 41px 50px;

    .financialInclusion {
      width: 190px;
      text-align: center;
      line-height: 40px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .rectangle1753 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: #87b6ed;
    padding: 32px 49px 33px 50px;

    .communityImpactIniti {
      width: 248px;
      text-align: center;
      line-height: 40px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 700;
    }
  }
}
