* {
  box-sizing: border-box;
}

.featuredResourceHigh {
  width: 747px;
  height: 50px;
  line-height: 50px;
  letter-spacing: 0;
  color: #044ea4;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
}
