* {
  box-sizing: border-box;
}

.downloadPlayStoreJas {
  border: 2px solid #044ea4;
  border-radius: 8px;
  width: 281px;
  height: 85px;
  background-image: url(../image/mlk0cbqm-13750wx.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
