* {
  box-sizing: border-box;
}

.group113 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 499px;
  height: 558px;

  .partnershipProgram {
    margin: 0px 0px 0px 66px;
    width: 433px;
    text-align: right;
    line-height: 75px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .thePartnershipProgra {
    margin: 59px 0px 0px;
    width: 499px;
    text-align: right;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .rectangle19 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 104px;
    margin-left: 249px;
    border-radius: 10px;
    background: #df2202;
    padding: 22px 54px 21px 55px;

    .learnMore {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 141px;
      height: 27px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }
  }
}
