* {
  box-sizing: border-box;
}

.smallBusinessesIconR {
  border: 2px solid #df2202;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  background-image: url(../image/mli1z0y0-tdjax0j.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
