* {
  box-sizing: border-box;
}

.frame228 {
  position: relative;
  width: 1441px;
  height: 2460px;
  overflow-y: auto;

  .flexibleDigitalFirst2 {
    line-height: 30px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
  }

  .flexibleDigitalFirst {
    line-height: 30px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .rectangle123 {
    position: absolute;
    top: 57px;
    left: 28px;
    border-radius: 15px;
    background: #012e6d;
    width: 1121px;
    height: 600px;
    rotate: 6deg;
  }

  .rectangle126 {
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
    width: 1440px;
    height: 2460px;
  }

  .jaspaLongLineSkyWith {
    position: absolute;
    top: 1021px;
    left: -1019px;
    width: 2459px;
    height: 417px;
    rotate: -90deg;
  }

  .jaspaLongLineSkyWith2 {
    position: absolute;
    top: 1022px;
    right: -1021px;
    width: 2459px;
    height: 417px;
    rotate: 90deg;
  }

  .businessBankingProdu {
    position: absolute;
    top: 90px;
    left: 227px;
    width: 987px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .group219 {
    position: absolute;
    top: 178px;
    left: 131px;
    width: 1178px;
    height: 714px;

    .rectangle122 {
      display: flex;
      position: absolute;
      top: 72px;
      left: 41px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 15px;
      background: #044ea4;
      padding: 62px 89px 63px;
      width: 1096px;
      height: 572px;

      .sMEsCorporateAccount {
        width: 734px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .flexibleDigitalFirst3 {
        margin: 27px 0px 0px;
        width: 918px;
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-size: 0;
      }
    }
  }

  .group220 {
    position: absolute;
    top: 901px;
    left: 133px;
    width: 1178px;
    height: 714px;

    .rectangle125 {
      display: flex;
      position: absolute;
      top: 71px;
      left: 41px;
      flex-direction: column;
      align-items: flex-start;
      border: 2px solid #012e6d;
      border-radius: 15px;
      background: #f5f5f5;
      padding: 76px 89px 75px 85px;
      width: 1096px;
      height: 572px;

      .businessLoansCreditF {
        width: 638px;
        line-height: 60px;
        letter-spacing: 0;
        color: #044ea4;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .growFasterWithJaspaS3 {
        margin: 27px 0px 0px;
        width: 918px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;

        .growFasterWithJaspaS {
          line-height: 30px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
        }

        .growFasterWithJaspaS2 {
          line-height: 30px;
          letter-spacing: 0;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 28px;
          font-weight: 500;
        }
      }
    }
  }

  .group221 {
    position: absolute;
    top: 1655px;
    left: 131px;
    width: 1178px;
    height: 714px;

    .rectangle1222 {
      display: flex;
      position: absolute;
      top: 72px;
      left: 41px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 15px;
      background: #044ea4;
      padding: 62px 89px 63px;
      width: 1096px;
      height: 572px;

      .pOsqrPaymentSolution {
        width: 688px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .acceptPaymentsAnywhe {
        margin: 27px 0px 0px 1px;
        width: 918px;
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-size: 0;
      }
    }
  }
}
