* {
  box-sizing: border-box;
}

.rectangle19 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #df2202;
  padding: 23px 47px 22px;
  width: 250px;
  height: 70px;

  .checkItOut {
    line-height: 25px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
}
