* {
  box-sizing: border-box;
}

.frame227 {
  position: relative;
  width: 1440px;
  height: 2460px;
  overflow-y: auto;

  .empowerTheNextGenera3 {
    line-height: 30px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
  }

  .empowerTheNextGenera {
    line-height: 30px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .kidsStudentsAccount {
    line-height: 60px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .rectangle123 {
    position: absolute;
    top: 57px;
    left: 28px;
    border-radius: 15px;
    background: #012e6d;
    width: 1121px;
    height: 600px;
    rotate: -6deg;
  }

  .rectangle121 {
    position: absolute;
    top: 0;
    left: 0;
    background: #044ea4;
    width: 1440px;
    height: 2460px;
  }

  .jaspaLongLineSkyWith {
    position: absolute;
    top: 1022px;
    left: -1021px;
    width: 2459px;
    height: 417px;
    rotate: -90deg;
  }

  .jaspaLongLineSkyWith2 {
    position: absolute;
    top: 1021px;
    right: -1021px;
    width: 2459px;
    height: 417px;
    rotate: 90deg;
  }

  .personalBankingProdu {
    position: absolute;
    top: 90px;
    left: 251px;
    width: 980px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .group219 {
    position: absolute;
    top: 178px;
    left: 131px;
    width: 1178px;
    height: 714px;

    .rectangle122 {
      display: flex;
      position: absolute;
      top: 71px;
      left: 41px;
      flex-direction: column;
      align-items: center;
      border: 2px solid #012e6d;
      border-radius: 15px;
      background: #f5f5f5;
      padding: 61px 87px 60px;
      width: 1096px;
      height: 572px;

      .empowerTheNextGenera4 {
        margin: 27px 0px 0px;
        width: 918px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;

        .empowerTheNextGenera2 {
          line-height: 30px;
          letter-spacing: 0;
          color: #044ea4;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
        }
      }
    }
  }

  .group220 {
    position: absolute;
    top: 901px;
    left: 130px;
    width: 1181px;
    height: 744px;

    .rectangle124 {
      position: absolute;
      top: 57px;
      left: 30px;
      border-radius: 15px;
      background: #012e6d;
      width: 1121px;
      height: 630px;
      rotate: -6deg;
    }

    .rectangle125 {
      display: flex;
      position: absolute;
      top: 71px;
      left: 44px;
      flex-direction: column;
      align-items: center;
      border: 2px solid #012e6d;
      border-radius: 15px;
      background: #044ea4;
      padding: 61px 87px;
      width: 1096px;
      height: 603px;

      .lockedFlexibleSaving {
        width: 918px;
        line-height: 60px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-weight: 800;
      }

      .saveYourMoneySafelyA3 {
        margin: 27px 0px 0px;
        width: 918px;
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-size: 0;

        .saveYourMoneySafelyA {
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
        }

        .saveYourMoneySafelyA2 {
          line-height: 30px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 28px;
          font-weight: 500;
        }
      }
    }
  }

  .group221 {
    position: absolute;
    top: 1655px;
    left: 131px;
    width: 1178px;
    height: 714px;

    .rectangle1222 {
      display: flex;
      position: absolute;
      top: 71px;
      left: 41px;
      flex-direction: column;
      align-items: flex-start;
      border: 2px solid #012e6d;
      border-radius: 15px;
      background: #f5f5f5;
      padding: 75px 87px 76px;
      width: 1096px;
      height: 572px;

      .jaspaLetsYouCreateMu {
        margin: 27px 0px 0px;
        width: 918px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;
      }
    }
  }
}
