* {
  box-sizing: border-box;
}

.rectangle173 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px 0px 0px 8px;
  background: #87b6ed;
  padding: 52px 49px 53px 50px;
  width: 415px;
  height: 300px;

  .youthSmeEmpowerment {
    width: 304px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .providingAccessToBus {
    margin: 25px 0px 0px;
    width: 316px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}
