* {
  box-sizing: border-box;
}

.growFasterWithJaspaS3 {
  width: 918px;
  height: 270px;
  line-height: 30px;
  letter-spacing: 0;
  color: #000000;
  font-size: 0;

  .growFasterWithJaspaS {
    line-height: 30px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .growFasterWithJaspaS2 {
    line-height: 30px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
  }
}
