* {
  box-sizing: border-box;
}

.rectangle172 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  background: #044ea4;
  padding: 72px 52px 73px 46px;
  width: 520px;
  height: 390px;

  .financialInclusion {
    margin: 0px 0px 0px 106px;
    width: 214px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
  }

  .bringingReliableAffo {
    margin: 30px 0px 0px;
    width: 422px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
  }
}
