* {
  box-sizing: border-box;
}

.group6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #00000059;
  background: #df2202;
  padding: 21px 34px 20px;
  width: 475px;
  height: 71px;

  .openAPersonalAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 321px;
    height: 30px;
    line-height: 60px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  .arrow1 {
    width: 66px;
    height: 2px;
  }
}
