* {
  box-sizing: border-box;
}

.group77 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 545px;
  height: 437px;

  .referFriendsEarnRewa {
    width: 497px;
    line-height: 75px;
    letter-spacing: 0;
    color: #044ea4;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .everyTimeYouInviteAf {
    margin: 46px 0px 0px;
    width: 545px;
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .group23 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 121px;
    border-radius: 8px;
    background: #df2202;
    padding: 21px 34px 20px 35px;
    min-width: 424px;
    height: 71px;

    .referNowInTheApp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 269px;
      height: 30px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }

    .arrow1 {
      width: 66px;
      height: 2px;
    }
  }
}
