* {
  box-sizing: border-box;
}

.comprehensiveBanking {
  width: 870px;
  height: 150px;
  text-align: center;
  line-height: 75px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
}
