* {
  box-sizing: border-box;
}

.personalBankingProdu {
  width: 980px;
  height: 60px;
  line-height: 60px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
}
