* {
  box-sizing: border-box;
}

.lockedFlexibleSaving {
  width: 918px;
  height: 120px;
  line-height: 60px;
  letter-spacing: 0;
  color: #f5f5f5;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
}
