* {
  box-sizing: border-box;
}

.group482 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
  height: 222px;

  .ellipse9 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-right: 33px;
    margin-left: 33px;
    border-radius: 50%;
    background: #87b6ed;
    padding: 25px 35px 25px 36px;

    .a2 {
      line-height: 50px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 600;
    }
  }

  .screening {
    margin: 87px 0px 0px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 500;
    text-shadow: 0px 4px 4px #00000040;
  }
}
