* {
  box-sizing: border-box;
}

.group110 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1257px;
  height: 500px;

  .corporateAccounts {
    margin: 22px 0px 0px 10px;
    width: 181px;
    line-height: 35px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 500;
  }

  .workingCapitalAndExp {
    margin: 33px 0px 0px 10px;
    width: 219px;
    line-height: 20px;
    letter-spacing: 0;
    color: #012e6d;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  .rectangle11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px #00000040;
    background: #87b6ed;
    padding: 23px 20px 53px;

    .rectangle15 {
      display: flex;
      align-items: center;
      align-self: stretch;
      border: 3px solid #df2202;
      border-radius: 10px;
      background: #f5f5f5;
      padding: 60px 41px 59px 42px;

      .nairaBillsOutlineRed {
        width: 150px;
        height: 114px;
      }
    }

    .sMeLoans {
      margin: 22px 0px 0px 10px;
      width: 104px;
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 35px;
      font-weight: 500;
    }
  }

  .rectangle12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px #00000040;
    background: #87b6ed;
    padding: 23px 20px 53px;

    .rectangle16 {
      display: flex;
      align-items: center;
      align-self: stretch;
      border: 3px solid #df2202;
      border-radius: 10px;
      background: #f5f5f5;
      padding: 42px 41px 41px 42px;

      .buildingOutlineIconR {
        width: 150px;
        height: 150px;
      }
    }
  }

  .rectangle13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px #00000040;
    background: #87b6ed;
    padding: 23px 20px 73px;

    .rectangle17 {
      display: flex;
      align-items: center;
      align-self: stretch;
      border: 3px solid #df2202;
      border-radius: 10px;
      background: #f5f5f5;
      padding: 42px 48px 41px 49px;

      .machineryIconRedWith {
        width: 136px;
        height: 150px;
      }
    }

    .assetFinancing {
      margin: 22px 0px 0px 10px;
      width: 174px;
      line-height: 35px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 35px;
      font-weight: 500;
    }
  }

  .rectangle14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px #00000040;
    background: #87b6ed;
    padding: 23px 20px;

    .rectangle18 {
      display: flex;
      align-items: center;
      align-self: stretch;
      border: 3px solid #df2202;
      border-radius: 10px;
      background: #f5f5f5;
      padding: 80px 41px 79px 42px;

      .peopleOutlineIconRed {
        width: 150px;
        height: 74px;
      }
    }

    .solutionsForTradeGro {
      margin: 28px 0px 0px 10px;
      width: 219px;
      line-height: 20px;
      letter-spacing: 0;
      color: #012e6d;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
