* {
  box-sizing: border-box;
}

.group117 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 499px;
  height: 505px;

  .referralProgram {
    width: 322px;
    line-height: 75px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
  }

  .referOtherBusinesses {
    margin: 59px 0px 0px;
    width: 499px;
    line-height: 35px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .group23 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 85px;
    margin-right: 75px;
    border-radius: 8px;
    background: #df2202;
    padding: 21px 34px 20px 35px;
    min-width: 424px;
    height: 71px;

    .referNowInTheApp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 269px;
      height: 30px;
      line-height: 60px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
    }

    .arrow1 {
      width: 66px;
      height: 2px;
    }
  }
}
