* {
  box-sizing: border-box;
}

.footer {
  position: relative;
  width: 1748px;
  height: 1143px;

  .rectangle7 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background: #044ea4;
    padding: 120px 100px 51px;
    width: 1440px;
    height: 1143px;

    .guides {
      margin: 18px 0px 0px;
      line-height: 25px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }

    .personalAccount {
      line-height: 25px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding-right: 323px;
      padding-left: 0;

      .aboutUs {
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
      }

      .productsServices {
        margin: 0px 0px 0px 55px;
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
      }

      .resources {
        margin: 0px 0px 0px 35px;
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
      }

      .contactUs {
        margin: 0px 0px 0px 51px;
        line-height: 30px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 700;
      }
    }

    .autoWrapper5 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 56px;
      padding-right: 261px;
      padding-left: 0;

      .visionMission {
        width: 102px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 92px;

        .businessAccount {
          margin: 18px 0px 0px 1px;
          line-height: 25px;
          letter-spacing: 0;
          color: #f5f5f5;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 25px;
          font-weight: 500;
        }
      }

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 118px;
      }

      .autoWrapper4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 124px;
      }
    }

    .autoWrapper8 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 572px;
      padding-left: 0;

      .autoWrapper6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
      }

      .autoWrapper7 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 18px;
        margin-left: 121px;
      }

      .loanCalculator {
        margin: 18px 0px 0px 192px;
        width: 133px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }
    }

    .autoWrapper9 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 649px;
      padding-left: 0;

      .uSsdBanking {
        margin: 18px 0px 0px 126px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .blog {
        margin: 0px 0px 0px 166px;
        line-height: 25px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }
    }

    .mobileApp {
      margin: 18px 0px 0px 194px;
      line-height: 25px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }

    .xeroIntegrationAccou {
      margin: 18px 0px 0px 194px;
      width: 281px;
      line-height: 25px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }

    .connectWithUs {
      margin: 62px 0px 0px 835px;
      line-height: 20px;
      letter-spacing: 0;
      color: #f5f5f5;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .autoWrapper10 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .getItOnDownloadOnThe {
        width: 500px;
        height: 70px;
        background-image: url(../image/mlciiveu-2lmkco5.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 4px 20px #0000004d);
      }

      .group452 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 22px;
        width: 426px;
        min-width: 426px;
        height: 48px;

        .rectangle35 {
          display: flex;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0px 4px 20px 0px #00000040;
          background: #df2202;
          padding: 9px;

          .whatsappLogoWhiteWit {
            width: 30px;
            height: 30px;
          }
        }

        .rectangle33 {
          display: flex;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0px 4px 20px 0px #00000040;
          background: #df2202;
          padding: 9px 17px;

          .facebookLogoWhiteWit {
            width: 14px;
            height: 30px;
          }
        }

        .rectangle32 {
          display: flex;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0px 4px 20px 0px #00000040;
          background: #df2202;
          padding: 11px 9px 10px;

          .xLogoWhiteWithoutBac {
            width: 30px;
            height: 27px;
          }
        }

        .rectangle352 {
          display: flex;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0px 4px 20px 0px #00000040;
          background: #df2202;
          padding: 9px 11px;

          .tikTokLogoWhiteWitho {
            width: 26px;
            height: 30px;
          }
        }

        .rectangle34 {
          display: flex;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0px 4px 20px 0px #00000040;
          background: #df2202;
          padding: 14px 9px 13px;

          .youTubeLogoWhiteWith {
            width: 30px;
            height: 21px;
          }
        }
      }
    }

    .line2 {
      margin-top: 58px;
      border-radius: 50%;
      background: #df2202;
      width: 1240px;
      height: 3px;
    }

    .autoWrapper11 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 38px;
      padding-right: 40px;
      padding-left: 40px;

      .copyright2025JaspaMf {
        display: flex;
        align-items: center;
        width: 501px;
        height: 26px;
        line-height: 20px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .privacyPolicy {
        margin: 0px 0px 0px 335px;
        line-height: 20px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .cookiePolicy {
        margin: 0px 0px 0px 52px;
        line-height: 20px;
        letter-spacing: 0;
        color: #f5f5f5;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .jaspaLogoWhiteWithou {
    position: absolute;
    bottom: 483px;
    left: 871px;
    opacity: 0.3;
    width: 852px;
    height: 307px;
    rotate: -26deg;
  }
}
