* {
  box-sizing: border-box;
}

.getItOnDownloadOnThe {
  width: 500px;
  height: 70px;
  background-image: url(../image/mlcijr90-y2996vj.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 20px #0000004d);
}
