* {
  box-sizing: border-box;
}

.property1Frame224 {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  column-gap: 40px;
  width: 1200px;
  height: 665px;

  .rectangle852 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px #00000040;
    background: #87b6ed;
    width: 260px;
    height: 97px;
  }

  .chidinmaIfenatuora {
    margin: 30px 0px 0px;
    width: 211px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
  }

  .paulAdeoye {
    margin: 30px 0px 0px;
    width: 154px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
  }

  .enoVwaire {
    margin: 30px 0px 0px;
    width: 139px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
  }

  .innocentIhedoro {
    margin: 30px 0px 0px;
    width: 178px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
    color: #f5f5f5;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
  }

  .mrInnocentIhedioha1 {
    border-radius: 15px;
    width: 360px;
    height: 399px;
  }

  .frame225 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    width: 1200px;

    .group207 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .rectangle83 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 29px 50px 0px;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        padding: 22px 53px;

        .chairman {
          line-height: 30px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 500;
        }
      }
    }

    .group208 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;

      .rectangle84 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 29px 50px 0px;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        padding: 19px 52px 18px 53px;

        .managingDirector {
          width: 155px;
          text-align: center;
          line-height: 30px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 500;
        }
      }
    }

    .group209 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;

      .rectangle85 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 29px 50px 0px;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        padding: 19px 46px 18px;

        .operationsManager {
          width: 168px;
          text-align: center;
          line-height: 30px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 500;
        }
      }
    }

    .group210 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;

      .rectangle86 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 29px 50px 0px;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        padding: 19px 54px 18px 55px;

        .customerServicesMana {
          width: 151px;
          text-align: center;
          line-height: 30px;
          letter-spacing: 0;
          color: #012e6d;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 500;
        }
      }
    }
  }

  .group214 {
    display: flex;
    position: absolute;
    top: 0;
    left: 2730px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    width: 360px;
    height: 665px;

    .autoWrapper {
      position: relative;
      margin-top: 29px;
      width: 260px;
      height: 127px;

      .rectangle862 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        width: 260px;
        height: 127px;
      }

      .customerServicesMana2 {
        position: absolute;
        top: 19px;
        left: 55px;
        width: 151px;
        height: 90px;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }

  .group213 {
    display: flex;
    position: absolute;
    top: 0;
    left: 2340px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    z-index: 1;
    width: 360px;
    height: 635px;

    .autoWrapper2 {
      position: relative;
      margin-top: 29px;
      width: 260px;
      height: 97px;

      .operationsManager2 {
        position: absolute;
        top: 19px;
        left: 46px;
        width: 168px;
        height: 60px;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }

  .group212 {
    display: flex;
    position: absolute;
    top: 0;
    left: 1950px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    z-index: 2;
    width: 360px;
    height: 635px;

    .autoWrapper3 {
      position: relative;
      margin-top: 29px;
      width: 260px;
      height: 97px;

      .managingDirector2 {
        position: absolute;
        top: 19px;
        left: 53px;
        width: 155px;
        height: 60px;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }

  .group211 {
    display: flex;
    position: absolute;
    top: 0;
    left: 1560px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    z-index: 3;
    width: 360px;
    height: 612px;

    .autoWrapper4 {
      position: relative;
      margin-top: 29px;
      width: 260px;
      height: 74px;

      .rectangle832 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px #00000040;
        background: #87b6ed;
        width: 260px;
        height: 74px;
      }

      .chairman2 {
        position: absolute;
        top: 22px;
        left: 53px;
        width: 154px;
        height: 30px;
        line-height: 30px;
        letter-spacing: 0;
        color: #012e6d;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}
